*{
    /* margin: 0%; */
}

.start {
    text-align: center;
    gap: 20px;
}
.hide {
    display: none;
}
/* #leader {
    display: none;
} */
.quiz p {
    /* border: solid; */
    text-align: end;
}
.quiz {
    /* border: dashed; */
    text-align: center;
}
.end p {
text-align: center;
height: 200px;
}
.scoreTitle {
    font-weight: bolder;
}
.leader {
    font-weight: bolder;
}
.butts {
    text-align: center;
}
.qSpot {
    padding: 10px;
   border: solid;
   width: fit-content;
   border-radius: 12px;
   margin: auto;
   margin-bottom: 5%;

}
.cSpot {
 background-color: orangered;
 padding: 10px;
 width: fit-content;
 margin: auto;
}