* {
    /* margin: 0%; */
}
/* title screen */
.start {
    text-align: center;
}

.start h2 {
    margin: 2%;
}

.start-btn {
    margin: 2%;
    width: fit-content;
    border: none;
    background-color: white;
    font-size: larger;
    font-weight: bold;
    border-left: 6px solid lightgreen;
    border-radius: 3px;
    color: black;
}

.start-btn:hover {
    transition: 1.5s;
    box-shadow: inset 6.5em 0 lightgreen;
    cursor: help;
}

/* used to hide sections */
.hide {
    display: none;
}

/* score and timer */
.quiz p {
    text-align: end;
}

/* wrapper of entire quiz section */
.quiz {
    text-align: center;
}

/* final score and high scores */
.end p {
    text-align: center;
    /* height: 200px; */
}

.scoreTitle {
    font-weight: bolder;
    font-size: larger;
}

.leader {
    font-weight: bolder;
    font-size: larger;
    height: 50px;
}

.highScore {
    text-align: center;
}

.highScore {
    list-style: "\1F47E";
    padding-bottom: 2px;
    list-style-position: inside;
}

/* play again and view high score buttons */
.butts {
    text-align: center;
}

/* header where questions are posted */
.qSpot {
    padding: 10px;
    border: solid;
    width: fit-content;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 5%;

}

/* container where answers are posted */
.cSpot {
    padding: 10px;
    width: fit-content;
    margin: auto;
}

/* answer buttons */
.test {
    margin: 2px;
    background-color: purple;
    color: ghostwhite;
    border-radius: 12px;
    font-size: larger;

}

.again,
 .high {
    margin: 2px;
    border: none;
    border-bottom: 3px solid green;
    background-color: ghostwhite;
    font-weight: bolder;
    color: black;
    border-radius: 12px;
    font-size: larger;
}

.high:hover,
.again:hover {
    transition: 1.5s;
    box-shadow: inset 100em 0 green;
    color: ghostwhite;
}